*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: 'Montserrat', 'Open Sans',sans-serif;
  overflow-x: hidden;
}

.container{
  max-width: 1070px;
  margin: auto;
}

/* Navigation */

.header{
  height: 100vh;
  /* min-height: 550px; */
}


.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 15%;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #30397b;
  cursor: pointer;
}

.menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item{
  display: inline-block;
  margin-right: 10px;
}
.menu-item:last-child{
  margin-right: 0px;
}

.menu-item a{
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
  color: #355084;
  padding: 5px;
}

.menu-item ::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 0px;
  height: 2px;
  background-color: #355084;
  transition: all .4s ease;
}

.menu-item:hover ::before{
  width: 100%;
}

.menu-item:hover a{
  color: #355184c2;
}

.menu-icon{
  display: none;
  cursor: pointer;
  font-size: 30px;
}

/* Slogan */

.slogan{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 85%;
  background: url(../img/photoBg.jpeg) no-repeat right;
  overflow: hidden;
}

.overlay-background{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000f80d2;
  z-index: 1;
}

.overlay-image{
  position: absolute;
  right: 43%;
  left: 0;
  height: 100%;
  transform-origin: 100% 80%;
  transform: skew(20deg) translateX(-50px);
  z-index: 2;
  overflow: hidden;
}

.overlay-image-content{
  position: relative;
  right: 0px;
  width: 100%;
  height: 100%;
  background: url(../img/photoBg2.jpeg) no-repeat left /cover;
  transform: skew(-20deg) translateX(120px);
  z-index: -1;
}

.overlay-image::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #d84d01;
  opacity: .8;
}

.slogan-caption{
  font-size: 82px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  z-index: 3;
  text-transform: uppercase;
}

.arrow-wrapper{
  z-index: 5;
  text-align: center;
  font-size: 30px;
}

.arrow{
  color: #fff;
  cursor: pointer;
}

/* About */

.about{
  position: relative;
}

.about-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  min-height: 650px;
}

.about-text{
  max-width: 515px;
}

.caption{
  position: relative;
  font-size: 36px;
  color: #355084;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.caption::before{
  content: '';
  position: absolute;
  left: 0px;
  top: -25px;
  width: 60px;
  height: 4px;
  background-color: #d46232;
}

.description{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #afafaf;
  line-height: 1.6rem;
}

.about-photo{
  max-width: 400px;
}

.about-photo img{
  width: 100%;
}

.matrix{
  position: absolute;
  opacity: 0.6;  
}

.about .matrix:nth-of-type(1){
  left: -30px;
  top: 10%;
}

.about .matrix:nth-of-type(2){
  right: 7%;
  bottom: 5%;
}

/* Activities */

.activities{
  position: relative;
  background-color: #f7f7f8;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: top -400px left -400px;
  /* z-index: -2; */
}

.activities-inner{
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activities-list{
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.activities-list-item{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  height: 450px;
  background-color: #000;
  z-index: 3;
}

.activities-list-item:nth-of-type(1) {
  background-image: url(../img/activities1.jpeg);
}

.activities-list-item:nth-of-type(2) {
  background-image: url(../img/activities2.jpeg);
}

.activities-list-item:nth-of-type(3) {
  background-image: url(../img/activities3.jpeg);
}

.activity-caption{
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.activities-list-item .activity-arrow{
  position: absolute;
  bottom: 70px;
  left: calc(50% - 13px);
  color: #fff;
  font-size: 26px;  
  text-align: center;
  cursor: pointer;
}

.activities-inner>.caption{
  margin: 0 0 70px 0;
}

.caption.line-center::before{
  left: calc(50% - 30px);
}

.caption.line-center{
  text-align: center;
}

.activities-background-overlay{
  position: absolute;
  right: -400px;
  bottom: -30%;
  height: 600px;
  width: 1100px;
  overflow: hidden;
  transform: skew(-20deg);
  z-index: 2;
}

.activities-background-overlay::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #d84d01;
  opacity: .8;
  z-index: 4;
}

.activities-background-image{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skew(20deg) scale(1.2);
  background: url(../img/bgActivities.jpeg) no-repeat left bottom;
}

/* Attorneys */

.attorneys{
  position: relative;
  /* height: 100vh; */
  /* background: #30397b; */
  background-image: url(../img/attorBg.jpeg);
  background-repeat: no-repeat;
  background-position: bottom left;
  /* background-color: #2e3675b7; */
  z-index: 1;
}

.attorneys-inner{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding: 315px 0 100px 0;
}

.attorneys::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000f80ee;
  opacity: 0.8;  
  z-index: -3;
}

.attorneys-text{
  max-width: 270px;
  padding-top: 110px;
  margin-right: 20px;
}

.attorneys .caption{
  /* margin-top: 0px; */
  color: #fff;
  margin-bottom: 35px;
}

.attorneys .description{
  margin-bottom: 50px;
  color: #8c92c3;
}

.attorneys-more{
  font-size: 18px;
  color: #c75f3a;
  font-weight: bold;
  text-decoration: none;
}

.attorneys-img-wrapper{
  position: relative;
  margin-bottom: 30px;
}

.attorneys-img-wrapper{
  cursor: pointer;
  transition: all .4s ease;
}

.attorneys-img-wrapper:hover{
  /* transform: scale(1.05); */
  opacity: 0.7;
}

.attorneys-img{
  width: 100%;
}

.attorneys-imgs{
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-description{
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}

/* Banner */

.banner{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  background: url(../img/banner.jpeg) center center /cover;
  z-index: 2;
}

.banner::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #d84d01;
  opacity: 0.8;
  z-index: -1;
}

.banner .slogan-caption {
  margin: 0px;
}

.banner .arrow-wrapper {
  position: relative;
  top: 100px;
}

/* Languages */

.languages-inner{
  height: 100vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.languages-list{
  list-style: none;
  padding: 0px;
  margin: 0;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* flex-grow: 2; */
}

.languages-list-item{
  max-width: 255px;
}

.languages-item-caption{
  font-size: 24px;
  color: #30397b;
  text-transform: uppercase;
}

.languages-list-item .description:nth-of-type(2n+1) {
  margin-bottom: 35px;
}

.languages-list-item .description:nth-of-type(2n) {
  margin-bottom: 20px;
}

.languages-item-more{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #d46232;
  text-decoration: none;
}

/* News */

.news{
  position: relative;
  background-color: #f7f7f8;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: bottom -400px right -300px;
}
.news-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0 50px 0;
}

.news-list-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 60px;
}

.news-item{
  max-width: 440px;
  border-bottom: 1px solid #bfbebe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-item:nth-of-type(2n+1){
  margin-right: 110px;
}

.news-item-caption{
  font-size: 24px;
  color: #303b7b;
}

.news-item-arrow{
  display: inline-block;
  color: #d46233;
  text-decoration: none;
  margin: 20px 0px;
}

.news-item-arrow>i{
  font-size: 30px;
}

.news .caption{
  margin: 0;
}

.news .matrix{
  position: absolute;
  left: -30px;
  top: -100px;
}

/* Contacts */

.contacts{
  position: relative;
  background: url(../img/contactsBg.jpeg) no-repeat;
  background-position: bottom -100px left -100px;
  padding: 90px 0 110px 0;
  z-index: 1;
}

.contacts::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #000e7bd2;
  z-index: -2;
}

.address-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 70px;
}

.address{
  /* padding-left: 8%; */
  height: 400px;
  width: 50%;
  min-width: 320px;
  border: 1px solid #4e59a3;

  display: flex;
  align-items: center;
  justify-content: center;
}

.address:nth-of-type(1) {
  border-right: 0px;
}

.address-caption{
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 55px 0;
  line-height: 2.5rem;
}

.address-email{
  color: #fff;
  font-size: 22px;
}

.address-number{
  margin: 40px 0 20px 0;
  font-size: 24px;
  color: #fff;
}

.address .description{
  color: #828abc;
  font-family: 'Montserrat', sans-serif;
}

.feedback-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-wrapper>.caption{
  color: #fff;
}

.feedback-form{
  width: 70%;
  max-width: 540px;
  text-align: center;
  margin-top: 80px;
}

.text-fields> *{
  width: 49%;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #4e59a3;
  padding: 20px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.text-fields> *::placeholder{
  color: #fff;
}

.text-fields>*:focus{
  outline: none;
}

input[name='message'] {
  width: 99%;
}

button[name='send'] {
  color: #fff;
  border: none;
  background-color: #d46232;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 15px 85px;
  cursor: pointer;
  margin-top: 40px;
}

button[name='send']:hover{
  background-color: #d64a0d;  
}

/* Footer */

.footer{
  background-color: #141835;
}

.copyright{
  margin: 0px;
  color: #646ba5;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.footer-inner{
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer .icon{
  color: #b2b6da;
  font-size: 18px;
  margin-right: 25px;
}

.footer .icon:last-child{
  margin-right: 0px;
}