*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  font-family: 'Montserrat', 'Open Sans',sans-serif;
  overflow-x: hidden;
}

.container{
  max-width: 1070px;
  margin: auto;
}

/* Navigation */

.header{
  height: 100vh;
  min-height: 550px;
}


.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #30397b;
  cursor: pointer;
}

.menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item{
  display: inline-block;
  margin-right: 10px;
}
.menu-item:last-child{
  margin-right: 0px;
}

.menu-item a{
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
  color: #355084;
  padding: 5px;
}

.menu-item ::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 0px;
  height: 2px;
  background-color: #355084;
  transition: all .4s ease;
}

.menu-item:hover ::before{
  width: 100%;
}

.menu-item:hover a{
  color: #355184c2;
}

/* Slogan */

.slogan{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 85%;
  background: url(../img/photoBg.jpeg) no-repeat right;
  overflow: hidden;
}

.overlay-background{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #30397bcb;
  z-index: 1;
}

.overlay-image{
  position: absolute;
  right: 43%;
  left: 0;
  height: 100%;
  transform-origin: 100% 80%;
  transform: skew(20deg) translateX(-50px);
  z-index: 2;
  overflow: hidden;
}

.overlay-image-content{
  position: relative;
  right: 0px;
  width: 100%;
  height: 100%;
  background: url(../img/photoBg2.jpeg) no-repeat left;
  transform: skew(-20deg) translateX(120px);
  z-index: -1;
}

.overlay-image::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #d45f31de;
}

.slogan-caption{
  font-size: 82px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  z-index: 3;
  text-transform: uppercase;
}

.arrow-wrapper{
  z-index: 5;
  text-align: center;
  font-size: 30px;
}

.arrow{
  color: #fff;
  cursor: pointer;
}

/* About */

.about{
  position: relative;
}

.about-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 600px;
}

.about-text{
  max-width: 515px;
}

.caption{
  position: relative;
  font-size: 36px;
  color: #355084;
  text-transform: uppercase;
}

.caption::before{
  content: '';
  position: absolute;
  left: 0px;
  top: -25px;
  width: 60px;
  height: 4px;
  background-color: #d46232;
}

.description{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #afafaf;
}

.about-photo{
  max-width: 400px;
}

.about-photo img{
  width: 100%;
}

.matrix{
  position: absolute;
  opacity: 0.6;  
}

.about .matrix:nth-of-type(1){
  left: -30px;
  top: 10%;
}

.about .matrix:nth-of-type(2){
  right: 7%;
  bottom: 5%;
}

/* Activities */

.activities{
  position: relative;
  height: 100vh;
  min-height: 600px;
  background-color: #f7f7f8;
  background-image: url(../img/circle.png);
  background-repeat: no-repeat;
  background-position: top -400px left -400px;
  /* z-index: -2; */
}

.activities-inner{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activities-list{
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.activities-list-item{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  height: 450px;
  background-color: #000;
  z-index: 3;
}

.activities-list-item:nth-of-type(1) {
  background-image: url(../img/activities1.jpeg);
}

.activities-list-item:nth-of-type(2) {
  background-image: url(../img/activities2.jpeg);
}

.activities-list-item:nth-of-type(3) {
  background-image: url(../img/activities3.jpeg);
}

.activity-caption{
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.activities-list-item .activity-arrow{
  position: absolute;
  bottom: 70px;
  left: calc(50% - 13px);
  color: #fff;
  font-size: 26px;  
  text-align: center;
  cursor: pointer;
}

.activities-inner>.caption{
  text-align: center;
  margin: 0 0 70px 0;
}

.caption.line-center::before{
  left: calc(50% - 30px);
}

.activities-background-overlay{
  position: absolute;
  right: -400px;
  bottom: -30%;
  height: 600px;
  width: 1100px;
  overflow: hidden;
  transform: skew(-20deg);
  z-index: 2;
}

.activities-background-overlay::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #d45f31de;
  z-index: 4;
}

.activities-background-image{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skew(20deg) scale(1.2);
  background: url(../img/bgActivities.jpeg) no-repeat left bottom;
}

/* Attorneys */

.attorneys{
  position: relative;
  /* height: 100vh; */
  /* background: #30397b; */
  background-image: url(../img/attorBg.jpeg);
  background-repeat: no-repeat;
  background-position: bottom left;
  /* background-color: #2e3675b7; */
  z-index: 1;
  padding: 315px 0 100px 0;
}

.attorneys-inner{
  display: flex;
  justify-content: space-between;
}

.attorneys::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #30397b;
  opacity: 0.8;  
  z-index: -3;
}

.attorneys-text{
  max-width: 270px;
  padding-top: 110px;
}

.attorneys .caption{
  /* margin-top: 0px; */
  color: #fff;
  margin-bottom: 35px;
}

.attorneys .description{
  margin-bottom: 50px;
  line-height: 1.6rem;
  color: #8c92c3;
}

.attorneys-more{
  font-size: 18px;
  color: #c75f3a;
  font-weight: bold;
  text-decoration: none;
}

.attorneys-img-wrapper{
  position: relative;
  margin-bottom: 30px;
}

.attorneys-img-wrapper{
  cursor: pointer;
  transition: all .4s ease;
}
.attorneys-img-wrapper:hover{
  transform: scale(1.05);
}

.attorneys-imgs{
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-description{
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
}
