@media screen and (max-width: 1199px) {
  .activities-inner, .languages-inner, .about-inner, .attorneys-inner{
    padding: 80px 0px;
    height: auto;
    min-height: auto;
  }

  .about{
    background: url(../img/matrix.png) no-repeat right 5% bottom 3%;
  }

  .activities-background-overlay{
    display: none;
  }
}

@media screen and (max-width: 1090px) {
  .container{
    padding-left: 20px;
    padding-right: 20px;
  } 

  .languages-list{
    justify-content: space-evenly;
  }

  .languages-list-item{
    margin: 0 20px 20px 0;
  }

  .activities-list{
    /* justify-content: center; */
    overflow: auto;
  }

  .activities-list-item{
    margin: 0px 20px 20px 0px;
  }

  .attorneys-img-wrapper{
    width: 47%;
  }

  .news-list-wrapper{
    justify-content: center;
  }

  .news-item:nth-of-type(2n+1){
    margin-right: 0px;
  }
}

@media screen and (max-width: 991px) {

  .activities-inner, .languages-inner, .about-inner, .attorneys-inner{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .slogan-caption {
    font-size: 70px;
  }
  
  .about-inner{
    flex-direction: column;
    justify-content: center;
  }

  .about-photo{
    margin-top: 30px;
  }

  .caption::before{
    left: calc(50% - 30px);
  }
  
  .caption{
    text-align: center;
    /* margin-top: 30px; */
    font-size: 32px;
  }

  .activities-list-item {
    min-width: 300px;
    height: 410px;
  }

  .attorneys-inner{
    flex-wrap: wrap;
    justify-content: center;
  }

  .activity-caption{
    font-size: 22px;
  }

  .attorneys-text{
    padding: 0px;
    margin: 0 0 40px 0;
    text-align: center;
  }

  .attorneys-text>.description{
    margin-bottom: 20px;
  }

  .address-caption, .address-email, .address-number{
    font-size: 20px;
  }

  .feedback-form{
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {

  .slogan-caption{
    font-size: 55px;
  }

  .navigation{
    display: none;
  }

  .menu-icon{
    display: inline;
  }

  .img-description{
    font-size: 20px;
  }

  .languages-list-item .description:nth-of-type(2n+1) {
    margin-bottom: 20px;
  }

  .address-wrapper{
    flex-direction: column;
    align-items: center;
  }

  .address{
    height: 350px;
  }

  .address:first-child{
    border-right: 1px solid #4e59a3;
  }

  .contacts{
    padding: 60px 0 80px 0;
  }
}

@media screen and (max-width: 575px) {

  .caption{
    font-size: 28px;
  }

  .slogan-caption{
    font-size: 35px;
  }

  .activities-list-item{
    /* margin-right: 0px; */
  }
  
  .img-description{
    font-size: 16px;
    bottom: 20px;
    left: 20px;
  }

  .text-fields>input{
    width: 100%;
  }

  .languages-item-caption{
    font-size: 22px;
  }

  .matrix{
    display: none;
  }

  .footer-inner{
    flex-direction: column;
    justify-content: space-evenly;
  }

  .copyright{
    order: 2;
  }

  .footer>.icons-wapper{
    order: 1;
  }
}